{{#paper-subheader}}{{yield}}{{/paper-subheader}}
{{#each items as |item|}}
  {{#paper-item as |controls|}}
    {{controls.checkbox value=item.enabled onChange=(action (mut item.enabled)) primary=true}}
    <p>{{item.label}}</p>
    <div class="md-secondary-container">
      {{#controls.button secondary=true iconButton=true onClick=(action (mut item.enabled))}}
        {{paper-icon item.icon}}
        {{#if item.tooltip}}
          {{#paper-tooltip position="top"}}
            {{item.tooltip}}
          {{/paper-tooltip}}
        {{/if}}
      {{/controls.button}}
    </div>
  {{/paper-item}}
{{/each}}