{{paper-icon (if item.ok "check" "not interested") class=(concat "data-item-icon" (if item.ok " ok" " nok"))}}
{{#paper-card class="card" as |card|}}

  <span class="message">
    {{item.log}}
  </span>
  <span class="purpose">
    {{item.purpose}}
  </span>
  <span class="attributes">
    {{item.attributes}}
  </span>
  <span class="policy">
    {{item.policy}}
  </span>

  <span class="date">
    {{item.formattedTimestamp}}
  </span>

{{/paper-card}}

