{{paper-icon (if item.ok "check" "not interested") class=(concat "data-item-icon" (if item.ok " ok" " nok"))}}
{{#paper-card class="card" as |card|}}

  <div class="header">
    <span class="event">
      Event "{{item.event}}"
    </span>
    <span class="date">
      {{item.formattedTimestamp}}
    </span>
  </div>

  <div class="purpose">
    <h2>{{item.purposeLabel}}</h2>
  </div>

  <div class="message">
    {{item.log}}
  </div>

  <div class="attributes">
    Attributes:
    <ul>
      {{#each item.attributesLabel as |label|}}
        <li>{{label}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="footer">
    <div class="policy">
      Policy "{{item.policy}}"
    </div>
  </div>



{{/paper-card}}
