{{paper-icon (if item.hasConsent "check" "not interested") class=(concat "data-item-icon" (if item.hasConsent " ok" " nok"))}}
{{#paper-card class="card" as |card|}}

  <div class="header">
    <span class="date">
      {{item.formattedTimestamp}}
    </span>
  </div>

  <div class="process">
    <h2>{{item.process}}</h2>
  </div>

  <div class="message">
    {{item.message}}
  </div>

  <div class="data-item-sublist">
    <div class="data-item-sublist_label">
      Purpose:
    </div>
    <ul>
      <li>{{item.purpose}}</li>
    </ul>
  </div>

  <div class="data-item-sublist">
    <div class="data-item-sublist_label">
      Processing:
    </div>
    <ul>
      <li>{{item.processing}}</li>
    </ul>
  </div>

  <div class="data-item-sublist">
    <div class="data-item-sublist_label">
      Recipient:
    </div>
    <ul>
      <li>{{item.recipient}}</li>
    </ul>
  </div>

  <div class="data-item-sublist">
    <div class="data-item-sublist_label">
      Storage:
    </div>
    <ul>
      <li>{{item.storage}}</li>
    </ul>
  </div>

  <div class="data-item-sublist">
    <div class="data-item-sublist_label">
      Data:
    </div>
    <ul>
      {{#each item.dataCollection as |data|}}
        <li>{{data}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="footer">
    <div class="item-id">
      Event "{{item.eventID}}"
    </div>
  </div>



{{/paper-card}}
