{{#paper-form onSubmit=(action "register") as |form|}}
  <div class="layout-row">
    {{form.input  label="Name" value=name onChange=(action (mut name))}}
  </div>
  <div class="layout-row">
    {{form.input  label="Username" value=nickname onChange=(action (mut name))}}
  </div>
  <div class="layout-row ">
    {{form.input  label="Password" value=password onChange=(action (mut password)) type="password"}}
  </div>
  <div class="layout-row ">
    {{form.input  label="Confirm password" value=passwordConfirmation onChange=(action (mut passwordConfirmation)) type="password"}}
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Register{{/form.submit-button}}
    {{!-- {{#if loading}}
			{{paper-progress-circular}}
		{{/if}} --}}
  </div>
  <div class="layout-row">
    {{#if errorMessage}}
      <span class="error-message">{{errorMessage}}</span>
    {{/if}}
  </div>
{{/paper-form}}

