{{#paper-subheader}}{{yield}}{{/paper-subheader}}
{{#paper-item}}
  {{#power-calendar-range center=center selected=range onCenterChange=(action (mut center) value="date" ) onSelect=(action
  (mut range) value="moment" ) as |calendar|}}
    <nav class="ember-power-calendar-nav">
      <button type="button" class="ember-power-calendar-nav-control" onclick= {{action calendar.actions.moveCenter -12 'month'}}>«</button>
      <button type="button" class="ember-power-calendar-nav-control" onclick= {{action calendar.actions.moveCenter -1 'month'}}>‹</button>
      <div class="ember-power-calendar-nav-title">
        {{moment-format calendar.center 'MMMM YYYY'}}
      </div>
      <button class="ember-power-calendar-nav-control" onclick= {{action calendar.actions.moveCenter 1 'month'}}>›</button>
      <button class="ember-power-calendar-nav-control" onclick= {{action calendar.actions.moveCenter 12 'month'}}>»</button>
    </nav>
    {{calendar.days}}
  {{/power-calendar-range}}
{{/paper-item}}