{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "dashboard"}}
      {{#paper-button class="title-button" }}
        <h1>Privacy dashboard</h1>
      {{/paper-button}}
    {{/link-to}}
    <span class="flex"></span>
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button iconButton=true}}
          {{paper-icon "more_vert"}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content width=4 as |content|}}
        {{#if session.isAuthenticated}}
          {{#content.menu-item onClick="openSomething"}}
            {{paper-icon "account_circle"}}
            <span>My profile</span>
          {{/content.menu-item}}
          {{#content.menu-item onClick="openSomething"}}
            {{paper-icon "settings"}}
            <span>Settings</span>
          {{/content.menu-item}}
          {{#content.menu-item onClick="logout"}}
            {{paper-icon "directions_run"}}
            <span>Logout</span>
          {{/content.menu-item}}
        {{else}}
          {{#content.menu-item onClick="openSomething"}}
            {{paper-icon "vpn_key"}}
            <span>Login</span>
          {{/content.menu-item}}
        {{/if}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
