<div class="layout-row layout-xs-column">
  <div class="layout-column hidden-xs hidden-sm flex-25 layout-padding">
    {{#paper-card as |card|}}
      {{#paper-list}}
        {{#paper-subheader}}General{{/paper-subheader}}

        {{#paper-item onClick=(action "action1") as |controls|}}
          {{paper-icon "description" primary=true}}
          <p>Review consent</p>
        {{/paper-item}}

        {{#paper-item onClick=(action "action2") as |controls|}}
          {{paper-icon "account-balance" primary=true}}
          <p>Privacy policy</p>
        {{/paper-item}}

        {{paper-divider}}
        {{#checkbox-filters items=origins}}Processing context{{/checkbox-filters}}

        {{paper-divider}}
        {{#checkbox-filters items=types}}Data type{{/checkbox-filters}}

        {{paper-divider}}
        {{#range-filters range=range}}Time range{{/range-filters}}

      {{/paper-list}}
    {{/paper-card}}

  </div>

  <div class="layout-column flex-50 layout-padding item-list">
    {{#each sortedData as |item|}}
      {{data-item item=item}}
    {{/each}}
  </div>

  <div class="layout-column hidden-xs hidden-sm flex-25 layout-padding">
    {{#paper-card as |card|}}
      {{data-controller-info controller=model.dataController}}
    {{/paper-card}}
  </div>
</div>
