<div class="layout-row layout-xs-column">
  <div class="layout-column hidden-xs hidden-sm flex-25 layout-padding">
    {{#paper-card as |card|}}
      {{#paper-list}}

        {{paper-divider}}
        {{#checkbox-filters items=sortedCompliances}}Compliance{{/checkbox-filters}}

        {{paper-divider}}
        {{#checkbox-filters items=sortedPurposes}}Purposes{{/checkbox-filters}}

        {{paper-divider}}
        {{#checkbox-filters items=sortedAttributes}}Attributes{{/checkbox-filters}}

        {{paper-divider}}
        {{#range-filters startDate=startDate endDate=endDate}}Time range{{/range-filters}}

      {{/paper-list}}
    {{/paper-card}}

  </div>

  <div class="layout-column flex-50 layout-padding data-item-list">
    <div class="vertical-line" />

    {{#each slicedData as |item|}}
      {{data-item item=item}}
    {{/each}}

  </div>

  <div class="layout-column flex-25 layout-padding data-item-list">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Visualizations{{/text.headline}}
        {{/title.text}}
      {{/card.title}}

      {{#card.content}}

        {{#paper-subheader}}Compliance{{/paper-subheader}}
        {{ember-chart type="bar" data=complianceChartData options=barChartOptions height=300 animate=true}}
        {{paper-divider}}

        {{#paper-subheader}}Violations per purpose{{/paper-subheader}}
        {{ember-chart type="pie" data=purposeChartData options=pieChartOptions height=300 animate=true}}
        {{paper-divider}}

      {{/card.content}}
      {{purposeArray.length}}
    {{/paper-card}}
  </div>

</div>
